@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["Creator"]</p>

<address>
    <strong>More information: </strong> <a href="https://github.com/gabrieljoseb">My Git Hub</a>
</address>